.main {
	text-align: center;
	padding: 5px;
}

a {
	margin: 5px;
	float: right;
  }
  
h1{
	text-align: center;
	font-family: 'Krona One', sans-serif;
	font-size: 50px;
	color: #EBF2FF;
	border-bottom: 2px solid #C2C2C2;
	width: 50%;
	margin:auto;
	margin: 0;
	display: inline-block;
	transform: translate(11%, 0);
}
body{
	background-color: #0A1529;
	/*background-image: url(photos/background1.jpg); */
	/*background-repeat: no-repeat;*/
	/*background-size: 100% 100%; */
}
img{
	max-height: 300px;
	height: 'auto';
	/*float: left;*/
	/*margin: 0.833%; */
}
.section{
	font-family: 'Poiret One', cursive;
	font-size: 40px;
	text-align: center;
	color: white;
	margin: auto;
	opacity: 0.6; 
	align-self: center;
	width: 15%;
	margin-bottom: 30px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgb(255, 255, 255), rgba(255, 255, 255, 0.3));
}
/*img:hover{
     opacity: 0.6;
     transform: scale(1.1);
}*/

a{
	max-width: 300px;
	max-height: 300px;
	background-color: #0A1529;
}

h3{
	font-size: 20px;
}


.swiper-container {
	  width: 100%;
	  padding-top: 50px;
	  padding-bottom: 200px;
	}
.swiper-slide-shadow-left{
	height: 300px;
	width: 300px;
}

.swiper-slide-shadow-right{
	height: 300px;
	width: 300px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 210px;
  height: 300px;
}
